<header class="banner">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1>APRENDA ANGULAR COMEÇANDO DO ZERO</h1>
        <h2>Aqui você encontra as melhores dicas, tutoriais e exemplos <br>para que possa obter o máximo do Angular</h2>
      </div>
    </div>
  </div>
</header>

<div class="container p-5">
  <div class="content"  fxLayout="row wrap" fxLayoutGap="16px">

    <mat-card class="mat-elevation-z4 card1">
      <mat-card-header>
        <mat-card-title>Conheça o essencial deste poderoso framework</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="mat-elevation-z4 card2">
      <mat-card-header>
        <mat-card-title> Comece do zero: Aprenda os principais recursos do framework de forma direta à partir da construção de uma aplicação.</mat-card-title>
      </mat-card-header>

    </mat-card>

    <mat-card class="mat-elevation-z4 card3">
      <mat-card-header>
        <mat-card-title> Os principais conceitos do Angular 9: Componentes, Diretivas, Pipes, Services e muito mais.</mat-card-title>
      </mat-card-header>
    </mat-card>

    <mat-card class="mat-elevation-z4 card4">
      <mat-card-header>
        <mat-card-title> Aprender Angular na Prática de forma muito objetiva.</mat-card-title>
      </mat-card-header>
    </mat-card>

  </div>
</div>



  <div class="container mercado">
    <div class="divMercado p-3">
      <h1>Você sabe o que o mercado diz sobre o Angular? Confira ↓</h1>
      <H2></H2>
    </div>
    <p>Atualmente o Angular é um dos frameworks Javascript que dominam o mercado, sendo muito popular nos últimos anos e é utilizado em inúmeros projetos. Por esses motivos, ele vem sendo amplamente requisitado no mercado para desenvolvimento web e mobile, tendo diversas oportunidades no Brasil e no mundo.
      <br><br>

      Através de uma pesquisa feito pelo Stack Overflow neste ano (2020), ao focar em estruturas web, vemos que ele é muito popular. Apesar de o jQuery estar em primeiro, ele está lentamente perdendo espaço para o React.js e o Angular, ano após ano.</p>
    <div class="pb-5"><img src="https://dkrn4sk0rn31v.cloudfront.net/uploads/2020/06/stackoverflow.png" alt="">
      <h5>Fonte: https://www.treinaweb.com.br/blog/o-que-e-o-angular-e-para-que-serve</h5>
    </div>

  </div>



